body {
  max-width: 60em;
}

p {
  width: 70%; /* width relative to parent 'body' (x)*/
}

span.sidenote,figure.marginfig, figure.figure .caption,  table.table caption, table.margintable {
  overflow-x: hidden;
  clear: right;
  margin: 1em 0;
  padding: 0.25em 0;
  vertical-align: top;
  position: relative;
  float: right;
}

span.sidenote, table.table caption, table.margintable {
  width: 40%; /* width relative to parent 'p' (y=(1-x)/x) */
  margin-right: -42%;
}

figure.marginfig, figure.figure .caption {
  width: 28%;
}