body {
  max-width: 60em;
}

p, ul, ol, thead, tbody, figure.figure img { /* Tufte text width */
  width: 70%;
}

.sidenote, .marginfig, .caption, .table caption, .margintable {
  overflow-x: hidden;
  clear: right;
  margin: 1em 0 0 0;
  padding: 0.25em 0;
  vertical-align: top;
  position: relative;
  float: right;

}

span.sidenote, table.table caption, table.margintable {
  width: 40%;
}

figure.marginfig, figure.figure .caption {
  width: 28%; /* width relative to parent 'p' (y=(1-x)/x) */
}

/* tables */

table.table caption, table.margintable {
  width: 28%; /* width relative to parent 'p' (y=(1-x)/x) */
  text-align: left;
}

/* special elements */

.featurebox p, .featurebox ol, .featurebox ul {
  width: calc(100% - 2em);
}
