/*
 * CSS for templates/default/template.html
 */

article {
  font-size: 14pt;
  font-family: Palatino, serif;
  line-height: 22pt;
  color: #444444;
  width: 70%;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
}

h1, h2 {
  display: block;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  font-weight: 400;
}

h1 {
  font-size: 1.6em;
  text-align: center;
}

h2 {
  font-size: 1.4em;
  margin-top: 1.0em;
  margin-bottom: 0.75em;
}

h2 .label {
  color: #b50202;
  font-variant: small-caps;
  display: block;
  margin: 1rem;
  border-bottom: 1pt solid #efc3c3;
}

h3, h4, h5 {
  font-size: 1.0em;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}

h3 {
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-weight: 400;
  font-style: italic;
}

strong {
  font-weight: 600;
}

a.ref {
  color: #444444;
}

ul {/* Remove margin for all <ul>s */
     margin-left: 0;
     padding-left: 0;
}

ul ul {/* Add a margin nested <ul> */
    margin-left: 14pt;
}

span.label::after {
    content: " ";
}

.supsub {
    display: inline-block;
    margin: -9em 0;
    vertical-align: -0.1em;
    line-height: 0.75em;
    font-size: 70%;
    text-align: left;
}

/* Menu - TOC */

.menu .toc ul.toc-level-1 {
  font-size: 1.1rem;
}

.menu .toc ul.toc-level-2, .menu .toc ul.toc-level-3, .menu .toc ul.toc-level-4, .menu .toc ul.toc-level-5, .menu .toc ul.toc-level-6, .menu .toc ul.toc-level-7, .menu .toc ul.toc-level-8 {
  font-size: 0.9rem;
}

/* TOC */

ul[class^="toc-level-"] {
  list-style: none;
  font-family: sans-serif;
}

ul[class^="toc-level-"] li {
  margin-right: 14pt;
  display: inline-block;
  min-width: 30%;
}

ul[class^="toc-level-"] a {
  color: #444444;
}

ul.toc-level-1 {
  font-size: 1.25rem;
  font-weight: 600;
}

ul.toc-level-1 li {
  padding: 1.25rem 0;
}

ul.toc-level-2 {
  font-size: 1.0rem;
  font-weight: 600;
}

ul.toc-level-3, ul.toc-level-4, ul.toc-level-5, ul.toc-level-6, ul.toc-level-7, ul.toc-level-8 {
  font-size: 1.0rem;
  font-weight: 400;
}

ul.toc-level-2 li, ul.toc-level-3 li, ul.toc-level-4 li, ul.toc-level-5 li, ul.toc-level-6 li, ul.toc-level-7 li, ul.toc-level-8 li {
  padding: 0rem;
}

article ul.toc-level-1 {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #dddddd;
  padding: 0 0 1rem 1rem;
  line-height: 18pt;
}

/* author listing */

div.authors {
  font-family: sans-serif;
  text-align: right;
  font-weight: 400;
  margin: 14pt 0 28pt 14pt;
}

/* sidenotes and marginfigs */
span.marginfig, span.sidenote {
    clear: right;
    float: right;
    width: 40%;
    margin-right: -45%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    vertical-align: top;
    position: relative;
    font-size: 0.8em;
    line-height: 1.4;
    padding: 0.2rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #fcfcfc;
    overflow-x: hidden;
}

span.marginfig span.caption {
    display: block;
}

/* Footer - navigation */

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer span.prev {
  display: block;
  position: relative;
  left: 0;
}

footer span.next {
  display: block;
  float: right;
  margin-right: 30%;
}

footer a.ref {
  color: #666666;
  padding: 0.25rem;
}

footer span.prev a.ref::before {
  content: "« ";
}

footer span.prev a.ref {
  border: 1px solid #dddddd;
  border-bottom: 0px;
  border-right: 0px;
  border-top-left-radius: 5px;
}

footer span.next a.ref::after {
  content: " »";
}

footer span.next a.ref {
  border: 1px solid #dddddd;
  border-top: 0px;
  border-left: 0px;
  border-bottom-right-radius: 5px;
}

