@media (min-width: 992px){
  .container {
    max-width: 880px;
  }
}

@media (min-width: 1200px){
  .container {
    max-width: 880px;
  }
}

body {
  padding: 3rem 0;
  font-size: 13pt;
  font-family: lato, arial;
  color: #444444;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 16pt;
  margin: 2rem 0 1rem 0;
}

h3 {
  font-size: 14pt;
  margin-top: 1rem;
}

p {
  margin: 1rem 0;
}

li {
  text-indent: 0;
}

ol li {
  padding-bottom: 1rem;
}

.main-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.jumbotron {
  display: block;
  font-size: 14pt;
  background-color: #fafafa;
  padding: 2rem 1rem;
  border-top: 1pt solid #aaaaaa;
  border-left: 1pt solid #aaaaaa;
}

.jumbotron img {
  width: 70px;
  margin-right: 1.0rem;
  float: left;
}

.container {
  display: block;
}

a.headerlink {
  display: none;
}

.sbar {
  font-family: lato, arial;
  padding: 0;
  line-height: 1.3rem;
  font-size: 12pt;
}
/*
.sbar-contents {
  position: fixed;
}
*/
.sbar .heading img {
  width: 45px;
  float: left;
  margin-right: 0.5rem;
}

.sbar .heading h3 {
  font-size: 1.6rem;
  margin-bottom: 0.25rem;
  margin-left: 0;
  display: inline;
}

.sbar .heading h4 {
  font-size: 0.9rem;
}

.sbar .heading a {
  color: #444444;
}

.caption {
  margin: 0;
  text-transform: uppercase;
  font-size: 11pt;
}

.toc {
    margin: 1rem 0 0 1rem;
}

.toc ul {
  list-style-type: none;
  padding-left: 1.0rem;
}

.toc ul ul {
  padding-left: 1.0rem;
}

.toc ul ul ul li {
  padding-top: 0;
  padding-bottom: 0rem;
}

pre {
  padding: 0 1rem;
  white-space: pre-wrap;
  font-family: 'Anonymous Pro', monospace;
  font-size: 95%;
}

code {
  white-space: pre-wrap;
  color: #e0584b;
  font-size: 100%;
  font-family: 'Anonymous Pro', monospace;;
}


code.block {
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
}

.highlight {
  background: none;
}

.highlight .nd {
    color: #da3525;
    font-weight: normal;
}

span.paragraph {
  margin-right: 0;
}

span.pre {
  font-family: 'Anonymous Pro', monospace;
}

dl.docutils {
  margin: 0 0 0 1rem;
}

dl.docutils dt {
  background: #eeeeee;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-radius: 5px 5px 0 0;
  padding: 0.25rem 0 0.25rem 0.35rem;
}  

dl.docutils dd {
  margin-top: 0;
  border-color: #ccc;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 5px 5px;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  background: #fefefe;
}


dl.docutils dd table {
  font-size: 12pt;
  margin-bottom: 5px;
}

dl.docutils pre {
  margin: 0;
}

dl.docutils blockquote {
  margin-bottom: 0.5rem;
  font-size: 11pt;
}

table.docutils td, table.docutils th {
  min-width: 80%;
  font-size: 12pt;
  margin-left: 1rem;
  padding: 2px 8px 2px 5px;
  border-top: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ccc;
}

table.docutils th {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #777;
  padding: 0px 8px 4px 5px;
  background: #ffffff;
}

table.docutils tr.row-odd {
  background: #f5f5f5;
}

td.field-body blockquote {
  margin-left: 1rem;
}

/* Markup - Macros */

.macro-card {
  display: inline-block;
  margin: 0.35rem;
  background: #fdfdfd;
  border: 1pt dashed #ccc;
  width: 22%;
  padding: 0.5rem;
}

.macro-card code {
  padding-right: 0.5em;
}

/* Interfaces -> Command-line */

.console {
    background: #222;
    border-radius: 5pt;
    padding: 5px 10px;
}

.console pre {
    color: #eee;
    margin: 0;
    padding: 2px;
    font-size: 11pt;
}

.console .go {
    color: #eee;
}

.highlight .gp {
  color: #3bd818;
}

/* API */

dl.class {
  border-left: 5px solid #c1dbf7;
  border-top: 1px solid #c1dbf7;
  border-bottom: 1px solid #e8eef5;
  border-radius: 5px 0 0 5px;
  padding: 0.25rem 0 0 2.5rem;
  text-indent: -2em;
}

dl.class dt {
  font-family: 'Anonymous Pro', monospace;
  font-size: 11pt;
}

dl.class dt > em {
  font-style: normal;
}

dl.class dd {
  padding-left: 1rem;
  font-size: 11pt;
}

dl.class th {
  font-size: 11pt;
}

dl.class p {
  text-indent: 0;
}

dl.class dl.docutils {
  font-size: 95%;
}

dl.class dl.docutils dt {
  color: #444444;
  background: #f1f1f1;
  border-color: #eee;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-radius: 5px 5px 0 0;
  padding: 0.15rem 0 0.15rem 2.5rem;
}  

dl.class dl.docutils dd {
  font-size: 95%;
  margin-top: 0;
  margin-bottom: 0.35rem;
  border-color: #eee;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 5px 5px;
  padding: 0.25rem 0.25rem 0.25rem 2.5rem;
}

del.class dl.docutils .classifier-delimiter {
  color: #777777;
}

dl.class dl.docutils .classifier {
  font-weight: normal;
  color: #777777;
}

code.descclassname {
  color: #ff978c;
}

code.descname {
  color: #e0584b;
  font-size: 1.1em;
}

/* Add new line just before class name */
code.descclassname:after {
    content: "\a";
    white-space: pre;
}

dl.exception {
  border-left: 5px solid #f185c5;
  border-top: 1px solid #f9cae6;
  border-bottom: 1px solid #f3e7ee;
  border-radius: 5px 0 0 5px;
  padding: 0.25rem 0 0 2.75rem;
  text-indent: -2em;
}

dl.exception dt {
  font-family: 'Anonymous Pro', monospace;
  font-size: 11pt;
}

dl.exception dd {
  padding-left: 2rem;
  font-size: 90%;
}


dl.method {
  border-left: 5px solid #fbecd0;
  border-top: 1px solid #fbecd0;
  border-radius: 5px;
  padding: 0.25rem 0 0 2.5rem;
  margin-left: -2em;
}

dl.method dt {
  font-family: 'Anonymous Pro', monospace;
  font-size: 11pt;
}


dl.attribute {
  border-left: 5px solid #efd0d0;
  border-top: 1px solid #efd0d0;
  border-radius: 5px;
  padding: 0.25rem 0 0 2.5rem;
  margin-left: -2em;
}

dl.attribute dt {
  font-family: 'Anonymous Pro', monospace;
  font-size: 11pt;
}

dl.data {
  font-size: 13pt;
  padding: 0.25rem 0 0 2.25rem;
  text-indent: -2em;
}

dl.data dt {
  font-family: 'Anonymous Pro', monospace;
  font-size: 11pt;
}

dl.data dd {
    padding: 0.25rem 0.25rem 0.25rem 2.5rem;
}

dl.function {
  border-left: 5px solid #f9efde;
  border-top: 1px solid #fbefde;
  border-radius: 5px;
  padding: 0.25rem 0 0 2.5rem;
  text-indent: -2em;
}

dl.function dt {
  font-family: 'Anonymous Pro', monospace;
  font-size: 11pt;
}

dl.function dd {
  padding-left: 1rem;
  font-size: 11pt;
}

dl.function th {
  font-size: 11pt;
}

dl.function p {
  text-indent: 0;
}


dl.function dl.docutils {
  font-size: 95%;
}

dl.function dl.docutils dt {
  color: #444444;
  background: #f1f1f1;
  border-color: #eee;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-radius: 5px 5px 0 0;
  padding: 0.15rem 0 0.15rem 2.5rem;
}  

dl.function dl.docutils dd {
  font-size: 95%;
  margin-top: 0;
  margin-bottom: 0.35rem;
  border-color: #eee;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 5px 5px;
  padding: 0.25rem 0.25rem 0.25rem 2.5rem;
  text-indent: 0;
}
