<!-- menu block for templates -->
{%- block menu %}
<input type="checkbox" id="toggle-1" class="menu-toggle">
<label for="toggle-1" class="menu-toggle">
  <img src="/media/icons/menu_inactive.svg" id="menu-toggle-inactive">
  <img src="/media/icons/menu_active.svg" id="menu-toggle-active">
</label>
<div class="menu">
  <ul class="functions list-group list-group-horizontal d-flex">
    <li class="list-group-item mr-2">
      <a href="/tree.html">
        <img src="/media/icons/doctree.svg" class="icon" style="width: 18px; padding: 0 4px 4px 0;">Document Listing
      </a>
    </li>
    <li class="list-group-item mr-2">
      <a href="/system/check.html">
        <img src="/media/icons/check.svg" style="width: 18px; padding: 0 4px 4px 0;">Check Dependencies
      </a>
    </li>
    <li class="list-group-item mr-2">
      <a href="/system/processors.html">
        <img src="/media/icons/process.svg" style="width: 18px; padding: 0 4px 4px 0;">List Processors
      </a>
    </li>
  </ul>
  <ul class="docutils">
    {%- if pdflink %}<li class="pdf">{{ pdflink.html }}</li>{%- endif %}
  </ul>
  <div class="toc">
  {%- if toc %}{{ toc.html }}{% endif %}
  </div>
</div>
{%- endblock %}