<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
(%- if title %)    <title>(( title ))</title>(% endif %)
(%- if description %)    <meta name="description" content="(( description ))">(% endif %)
(%- if author %)    <meta name="author" content="(( author ))">(% endif %)
(%- block css %)
  <link rel="stylesheet" href="/media/css/default.css">
(% endblock %)
</head>
<body>
  <article>
    (% block body %)
    (( body.html ))
    (% endblock %)
  </article>
</body>
</html>
