
.content li {
  border-bottom: 1px solid #eee;
  padding: 0.2rem 0;
}

.content ol ~ ol {
  margin-bottom: 1rem;
}

.checkers {
  padding-right: 30px;
  color: #808080;
}

.level-1 {
  color:#555;
}

.status {
  float: right;
}

.status.ok {
  color: #068406;
}

.status.missing {
  color: #a9b51f;
}

.status.fail {
  color: #e45d5d;
}

.status.unknown {
  color: #888;
}