<div class="footer container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <hr>
      <ul class="list-group list-group-horizontal list-group-flush float-left">
        <li class="list-group-item border-0 py-1">
          <a href="{{ url_for('tree.render_tree') }}">
            <img src="/media/icons/doctree.svg" width="16px">
            Document Listing
          </a>
        </li>
        <li class="list-group-item border-0 py-1">
          <a href="{{ url_for('system.render_signals') }}">
            <img src="/media/icons/signals.svg" width="16px">
            Signals
          </a>
        </li>
        <li class="list-group-item border-0 py-1">
          <a href="{{ url_for('system.render_checkers') }}">
            <img src="/media/icons/check.svg" width="16px">
            Checkers
          </a>
        </li>
      </ul>
      <div class="copyright float-right py-1">
        © 2017-2020 Disseminate
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>