<!-- css menu toggle -->
<input type="checkbox" id="toggle-1" class="menu-toggle" />
<label for="toggle-1" class="menu-toggle">
  <img id="menu-toggle-inactive" src="/media/icons/menu-inactive.svg">
  <img id="menu-toggle-active" src="/media/icons/menu-active.svg">
</label>
<!-- menu -->
<div class="menu">
<h1 class="menu-title">Disseminate Menu</h1>
<ul class="menu-listing">
  <li class="menu-item">
    <a href="/index.html">
      <img class="icon" src="/media/icons/doctree.svg" alt="doc tree icon" />
      Document Listing
    </a>
  </li>
  <li class="menu-item">
    <a href="/check.html">
      <img class="icon" src="/media/icons/check.svg" alt="check icon" />
      Check Dependencies
    </a>
  </li>
</ul>
</div>
