body {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.0rem;
    font-size: 1.1rem;
    font-family: Palatino, serif;
    line-height: 1.5;
    color: #212529;
}
