body {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.0rem;
    font-size: 1.2rem;
    font-family: Palatino, serif;
    line-height: 1.7;
    color: #212529;
}

h1 {
    display: block;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    marbin-bottom: 0.75rem;
    font-weight: 400;
}

h2 {
    display: block;
    font-size: 1.6rem;
    margin-top: 1.25rem;
    marbin-bottom: 0.75rem;
    font-weight: 400;
}

h3 {
    display: block;
    font-size: 1.2rem;
    margin-top: 1.0rem;
    marbin-bottom: 0.75rem;
    font-weight: 400;
}

img {
    background-color: white;
    margin: 0 0.2rem;
}

sub,sup {
    font-size: 70%;
}

.title {
    display: block;
    font-size: 1.8rem;
    text-align: center;
    padding: 0 0 1rem 0;
}

.title-label {
    color: #9c0303;
}

.title-label::after {
    content: " - ";
}

.author {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    padding: 0 0 1.5rem 0;
}
    
.supsub {
   display: inline-block;
   margin: -9em 0;
   vertical-align: -0.3em;
   line-height: 0.75em;
   font-size: 70%;
   text-align: left;
}
