body {
    font-size: 1.2rem;
    font-family: Palatino, serif;
    line-height: 1.7;
    color: #212529;
    padding-left: 12.5%;
    margin-left: auto;
    margin-right: auto;
    width: 87.5%;
    max-width: 1400px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    font-weight: 600;
    color: #4a4a54;
}

article {
    padding-top: 5rem;
    position: relative;
    width: 60%;
    max-width: 46rem;
}

h1 {
    display: block;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    marbin-bottom: 0.75rem;
    font-weight: 400;
}

h2 {
    display: block;
    font-size: 1.6rem;
    margin-top: 1.25rem;
    marbin-bottom: 0.75rem;
    font-weight: 400;
}

h3 {
    display: block;
    font-size: 1.2rem;
    margin-top: 1.0rem;
    margin-bottom: 0.75rem;
    font-style: italic;
    font-weight: 400;
}

img {
    background-color: white;
    margin: 0 0.2rem;
}

sub,sup {
    font-size: 70%;
}

.title {
    display: block;
    font-size: 2.0rem;
    padding: 0 0 1rem 0;
}

.title-label {
    color: #9c0303;
}

.title-label::after {
    content: " - ";
}

span.paragraph {
    margin-right: 0;
}

.authors {
    display: block;
    font-size: 1.5rem;
    padding: 0 0 1.5rem 0;
    font-style: italic;
}

.root {
    margin-top: 3.0rem;
    display: block;
}

.sidenote, .marginfig {
    display: block;
    float: right;
    clear: right;
    width: 50%;
    margin-right: -60%;
    margin-top: 0.5rem;
    font-size: 1.0rem;
    line-height: 1.4;
    padding: 0.2rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #fcfcfc;
}

.sidenote sub, sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

.marginfig sub, sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

.sidenote sub { 
  top: 0.4em; 
}

.marginfig sub { 
  top: 0.4em; 
}

.caption {
    display: block;
}

.supsub {
   display: inline-block;
   margin: -9em 0;
   vertical-align: -0.3em;
   line-height: 0.75em;
   font-size: 70%;
   text-align: left;
}

.eq {
    display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

