/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
       white-space: normal !important;
       vertical-align: top !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

/* Namako modifications **/
/*
div.document {
    max-width: 1024px;
    font-size: 19px;
}
*/

/* Guzzle modifications */

body {
    font-size: 16px;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 23px;
}

dl {
    margin-top: 1.25rem;
}

.sidebar-toc {
    margin: 0 1.2rem;
}

code.descclassname {
    font-size: 110%;
    padding: 0px;
    color: #bb6f82;
}

code.descname {
    font-size: 110%;
    padding: 0px;
    color: #8D1A38;
}

table.field-list {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #aaa;
    border-right: 1px solid #eee;
    margin-bottom: 0px;
}

table.field-list th {
    background-color: #f5f5f5;
    font-size: large;
}

table.field-list td {
    font-size: large;
}

table.field-list tr {
    border-top: solid 1.25rem white;
    border-bottom: solid 1.25rem white;
}

table.field-list td, table.field-list th {
    border: none;
}

table.field-list table.field-list {
    border: none;
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

table.field-list table.field-list th {
    background-color: #fff;
    font-size: medium;
    width: 20%;
    padding: 0px;
}

table.field-list table.field-list td {
    font-size: medium;
    padding: 0px;
}

table.field-list table.field-list tr {
    border: none;
}
