@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato-Regular.ttf'); 
}

@font-face {
  font-family: Lato-Bold;
  src: url('../fonts/Lato-Bold.ttf'); 
}

body {
    font-family: Lato-Regular;
    font-size: 18px;
    padding: 1.0rem 3.0rem;
    color: #555;
}

h1 {
    text-align: center;
    font-size: 24px;
}

p {
    padding: 0.5rem;
    font-size: 17px;
    color: #888;
}

p em {
    color: #555;
    font-weight: 600;
    font-size: 22px;
    font-style: normal;
    font-variant: all-small-caps;
    margin-right: 0.6rem;
}

table {
    border-collapse: collapse;
    margin-left: 1.5rem;
}

table a {
    color: #808080;
}

thead {
    background-color: #efefef;
}

th {
    text-align: left;
    padding: 0.4rem 0.8rem;
    color: #888;
}

tbody {
    border-top: 1px solid #f2f2f2;
}

tr {
    color: #808080;
    border-bottom: 1px solid #f2f2f2;
}

td {
    padding: 0.8rem;
}

td.num {
    mid-width: 2.0rem;
    text-align: center;
}

td.src {
    min-width: 25.0rem;
} 

td.tgt {
    min-width: 10.0rem;
} 

